configuration {
    display-drun: "Applications:";
    display-window: "Windows:";
    drun-display-format: "{icon} {name}";
    width: 900;
    lines: 15;
    font: "JetBrainsMono Nerd Font Medium 11";
    modi: "window,run,drun,emoji";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "kitty";
    levenschtein-sort: true;
    matching: "fuzzy";
}

@theme "~/.config/rofi/themes/squared-everforest.rasi"
